$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-grey: rgb(53,53,53);
$color-grey2: lighten($color-grey, 65%);
$color-grey3: lighten($color-grey, 75%);
$appPadding: 16px;
$radius: (
btn: 160px,
);

// media queries :
$breakpoints: (
  desktop: 992px,
  tablet: 767px,
  mobile: 375px,
);

